:root
  --background-color: white
  --foreground-color: rgba(226, 226, 226, 0.6)
  --text-color: black
  --accent-color: cyan

@media (prefers-color-scheme: dark)
:root
  --background-color: black
  --foreground-color: rgba(45, 45, 45, 0.6)
  --text-color: rgb(240, 240, 240)
  --accent-color: #1850e0
