:root
  --background-color: white
  --foreground-color: rgba(226, 226, 226, 0.6)
  --text-color: black
  --accentColor: cyan

  --swirly01: blue
  --swirly02: green

@media (prefers-color-scheme: dark)
  :root
    --background-color: black
    --foreground-color: rgba(45, 45, 45, 0.6)
    --text-color: rgb(240, 240, 240)
    --accentColor: #1850e0
